<div class="row step">
  <div class="col-sm-2 step_num text-center align-middle">
    <span>ШАГ 1</span>
  </div>
  <div class="col-sm-10 step_info text-justify">
    Доставка осуществляется внутри зон, отмеченный ниже на Яндекс карте.
    По карте, определите зону доставки. Затем, нажмите кнопку с номером зоны, соответствующей Вашему району доставки.
  </div>
</div>