<!-- <div class="row step add2 hidden"> -->
  <div class="col-sm-2 add2 hidden step_num text-center align-middle">
    <span>ШАГ 2</span>
  </div>
  <div class="col-sm-10  hidden add2 step_info text-justify" id="before_cards">
    Определитесь с материалом / услугой, которую Вы хотите заказать, далее, укажите какой объём этого материала Вам необходим.
    После этого, внизу страницы, нажмите кнопку "Узнать стоимость".<br>
    По поводу стоимости материалов, услуг и объёмов, которых не оказалось на странице, уточняйте по телефону <b class="red">8-917-34-68-333</b>.
  </div>
<!-- </div> -->