<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel = "stylesheet" href="/style.css">
  </head>
  <body>
    <div class="form">
      <h2 class="text-center">Log in</h2><br>
      <form method="post" action="/login">
        <input class="form-control" name="username" type="text" placeholder="Username..." autofocus><br>
        <input class="form-control" name="password" type="password" placeholder="Password..."><br>
        <input type="submit" class="btn btn-block btn-success" value="Log in">
      </form>
      <br><a href="/" class="btn btn-block btn-info">Back to Main Page</a>
    </div>
    
  </body>
</html>